{% extends "base.html"  %}

{% block title %}Home {% endblock %}

{% block bg %}
class="index"
{% endblock %}

{% block tag %}
id="header"
{% endblock %}


{% block content %}
    <div id="imagem">
        <img id="capa" src="/static/img/capa.png">
    </div>

    <div>
        <h2 id="h2home">Sobre a universidade</h2>
        <!-- <p type=""></p> -->
    </div>

    <div id="texto">
        <p>
            Lorem, <b>ipsum dolor</b> sit <em>amet</em> consectetur adipisicing elit. Voluptate unde cum eligendi reiciendis, enim suscipit repellendus error ea fuga illum minima deserunt quo exercitationem saepe est ipsum nesciunt dignissimos porro molestiae, quod ducimus quasi assumenda aut. Voluptatum ducimus saepe voluptatibus eligendi sed numquam quisquam fugit. Aut magnam quasi sed, voluptate, qui reprehenderit repellendus temporibus quisquam dignissimos blanditiis sunt neque dolores nesciunt sint! Id rem pariatur distinctio, commodi itaque nemo iste optio? Ullam voluptate odio aperiam quaerat vero nemo consequuntur provident possimus impedit voluptatum iusto eaque cum est necessitatibus, nesciunt libero!
        </p>
        <p>
            Lorem, <b>ipsum dolor</b> sit <em>amet</em> consectetur adipisicing elit. Voluptate unde cum eligendi reiciendis, enim suscipit repellendus error ea fuga illum minima deserunt quo exercitationem saepe est ipsum nesciunt dignissimos porro molestiae, quod ducimus quasi assumenda aut. Voluptatum ducimus saepe voluptatibus eligendi sed numquam quisquam fugit. Aut magnam quasi sed, voluptate, qui reprehenderit repellendus temporibus quisquam dignissimos blanditiis sunt neque dolores nesciunt sint! Id rem pariatur distinctio, commodi itaque nemo iste optio? Ullam voluptate odio aperiam quaerat vero nemo consequuntur provident possimus impedit voluptatum iusto eaque cum est necessitatibus, nesciunt libero!
        </p>
            <br><br>
    </div>

{% endblock %} 
