<!-- 
<body background="/static/img/fundo2.png"> -->
   
    <!-- Corpo da página -->

{% extends "base.html"  %}

{% block title %}Quem Somos {% endblock %}

{% block bg %}
class="quem"
{% endblock %}

{% block tag %}
id="headerquem"
{% endblock %}

{% block content %}

    <section id="textoquem">
    <div>
        <br>
    
        <h2>Quem somos</h2>

        <p>
            Lorem <b>ipsum dolor</b> sit <em>amet</em> consectetur adipisicing elit. Molestias, aliquam. Mollitia assumenda, quam voluptate ipsum incidunt consequatur quidem fugit atque aut maiores neque fugiat vero maxime eos quasi voluptates ex, hic excepturi quia! Aperiam, minus rem error ipsum at autem deserunt! Dicta, consequuntur. Enim commodi doloribus animi maiores et ad odio laborum, quae voluptatem laudantium, ea dignissimos, nobis beatae quisquam sapiente ipsum? Minus animi soluta sint odit minima exercitationem suscipit perferendis blanditiis voluptates dolorem, tenetur aspernatur quaerat. Culpa fuga iste at illo ullam, nostrum dignissimos quos porro! Aut, veniam a.
        </p>

    </div>
    <div>
        <h2>5 motivos para estudar</h2>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>

    </div>
    <hr>
    <div>
        <h2>Objetivos</h2>
        <p>
            Lorem <b>ipsum dolor</b> sit <em>amet</em> consectetur adipisicing elit. Molestias, aliquam. Mollitia assumenda, quam voluptate ipsum incidunt consequatur quidem fugit atque aut maiores neque fugiat vero maxime eos quasi voluptates ex, hic excepturi quia! Aperiam, minus rem error ipsum at autem deserunt! Dicta, consequuntur. Enim commodi doloribus animi maiores et ad odio laborum, quae voluptatem laudantium, ea dignissimos, nobis beatae quisquam sapiente ipsum? Minus animi soluta sint odit minima exercitationem suscipit perferendis blanditiis voluptates dolorem, tenetur aspernatur quaerat. Culpa fuga iste at illo ullam, nostrum dignissimos quos porro! Aut, veniam a.
        </p>
    </div>
    <br><br>
    </section>

{% endblock %} 